/*#btUpdate
{
    -fx-background-color: white;
}*/

.button 
{
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #353A3E;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-focus-color: transparent;
}

.button:hover 
{
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed 
{
  -fx-background-color: white;
  -fx-text-fill: #353A3E;
}
.button:focused 
{
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-focus-color: transparent;
}

.button:disabled, .button:default:disabled 
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default 
{
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover 
{
    -fx-background-color: derive(-fx-focus-color,30%);
}

#bp, #wv, #gp
{
    -fx-background-color: #353A3E;
}

#lbPassword {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

#lbUsername {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #353A3E;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #353A3E;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background 
{
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler 
{
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label 
{
    -fx-font-size: 12pt;
    -fx-alignment: CENTER;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected 
{
    -fx-background-color: -fx-focus-color;
}

.toggle-button
{
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #353A3E;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.toggle-button:pressed, .toggle-button:default:hover:pressed 
{
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.toggle-button:focused, .toggle-button:selected, .toggle-button:checked, .toggle-button:toggled
{
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#data
{
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;

}

.web-view {
    -fx-base: #353A3E;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #353A3E;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

